<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Pdfium.Net.SDK" version="4.103.2704" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net48" />
  <package id="PdfSharpStand.PdfSharp.Charting.NetStandard" version="1.0.0" targetFramework="net48" />
  <package id="PdfSharpStand.PdfSharp.NetStandard" version="1.0.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.10" targetFramework="net48" />
  <package id="Ububox.G2Crack" version="2.0.4.6" targetFramework="net48" />
</packages>